n8n/workflow_module4_newsletter.json
{
  "name": "FINAL PROJECT / maison-beaute-newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "maison-beaute-newsletter",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body;\nconst subject = data.subject_line || 'The Edit — Maison Beaute';\nconst preview = data.preview_text || '';\nconst body = data.body || '';\nconst cta = data.cta || 'Explore the collection';\nconst newProducts = data.new_products || [];\nconst month = new Date().toLocaleDateString('en-GB', {month:'long', year:'numeric'}).toUpperCase();\n\nconst PRODUCT_MAP = {\n  'lancome': { name: 'Lancôme Lip Idôle JuicyTreat', subtitle: 'No. 90 Berry Bisou · 8.5ml', badge: 'MAKE-UP', img: 'https://github.com/carolinanami-max/Final-Project-Maison-Beaute-Carolina-Nami/blob/main/data/sku_lancome_90_berry_bisou_WI-000002100_1-xlarge.webp?raw=true' },\n  'la mer': { name: 'La Mer The Treatment Lotion', subtitle: '100ml · Miracle Broth', badge: 'SKIN-CARE', img: 'https://github.com/carolinanami-max/Final-Project-Maison-Beaute-Carolina-Nami/blob/main/data/sku_la_mer_the_treatment_lotion_100_ml_WI-000000148_11-xlarge.webp?raw=true' },\n  'u beauty': { name: 'U Beauty Resurfacing Compound', subtitle: '50ml · SIREN Capsule Technology', badge: 'SKIN-CARE', img: 'https://github.com/carolinanami-max/Final-Project-Maison-Beaute-Carolina-Nami/blob/main/data/sku_u_beauty_u_beauty_resurfacing_compound_serum_50_ml_WI-000000440_8-xlarge.webp?raw=true' }\n};\n\nconst cards = newProducts\n  .map(p => { const key = Object.keys(PRODUCT_MAP).find(k => p.toLowerCase().includes(k)); return key ? PRODUCT_MAP[key] : null; })\n  .filter(Boolean).slice(0, 3);\n\nconst paragraphs = body.split(/\\n\\n+/).filter(p => p.trim())\n  .map((p, i) => i === 0\n    ? '<p style=\"margin:0 0 24px 0;font-size:17px;line-height:1.9;color:#1A1A2E;font-family:Georgia,serif;font-style:italic;\">' + p.trim() + '</p>'\n    : '<p style=\"margin:0 0 22px 0;font-size:14px;line-height:1.85;color:#3A2A4A;font-family:Arial,sans-serif;\">' + p.trim() + '</p>'\n  ).join('');\n\nconst cardRows = cards.map(c =>\n  '<tr><td style=\"padding:0 0 20px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>' +\n  '<td width=\"130\" style=\"vertical-align:top;\"><img src=\"' + c.img + '\" alt=\"' + c.name + '\" width=\"130\" height=\"130\" style=\"display:block;width:130px;height:130px;object-fit:cover;border-radius:3px;\"></td>' +\n  '<td style=\"vertical-align:middle;padding:0 0 0 20px;\">' +\n  '<p style=\"margin:0 0 5px 0;font-size:9px;color:#C9748F;font-family:Arial,sans-serif;letter-spacing:0.22em;text-transform:uppercase;font-weight:700;\">' + c.badge + '</p>' +\n  '<p style=\"margin:0 0 7px 0;font-size:15px;color:#1A1A2E;font-family:Georgia,serif;line-height:1.3;\">' + c.name + '</p>' +\n  '<p style=\"margin:0 0 14px 0;font-size:11px;color:#9B8FA0;font-family:Arial,sans-serif;\">' + c.subtitle + '</p>' +\n  '<a href=\"https://www.revouri.de\" style=\"font-size:10px;color:#1A1A2E;font-family:Arial,sans-serif;letter-spacing:0.14em;text-transform:uppercase;text-decoration:none;border-bottom:1px solid #C9748F;padding-bottom:2px;\">View product</a>' +\n  '</td></tr></table></td></tr>'\n).join('');\n\nconst productSection = cards.length > 0\n  ? '<tr><td style=\"background:#FAFAF8;padding:36px 56px 24px;\"><p style=\"margin:0 0 28px 0;font-size:9px;color:#C9A84C;font-family:Arial,sans-serif;letter-spacing:0.25em;text-transform:uppercase;font-weight:700;\">Featured This Edit</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">' + cardRows + '</table></td></tr>'\n  : '';\n\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>' + subject + '</title></head>' +\n'<body style=\"margin:0;padding:0;background:#E4DED8;\">' +\n'<div style=\"display:none;max-height:0;overflow:hidden;\">' + preview + '</div>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#E4DED8;padding:40px 16px;\"><tr><td align=\"center\">' +\n'<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:580px;width:100%;\">' +\n'<tr><td style=\"padding:0 0 14px 0;text-align:center;\"><p style=\"margin:0;font-size:9px;color:#9B8FA0;font-family:Arial,sans-serif;letter-spacing:0.25em;text-transform:uppercase;\">' + month + ' - The Edit</p></td></tr>' +\n'<tr><td style=\"background:#1A1A2E;padding:44px 56px 36px;border-radius:3px 3px 0 0;\">' +\n'<p style=\"margin:0 0 2px 0;font-size:9px;color:#C9748F;letter-spacing:0.3em;text-transform:uppercase;font-family:Arial,sans-serif;font-weight:700;\">Pre-Loved Luxury Beauty</p>' +\n'<h1 style=\"margin:12px 0 18px;font-size:44px;color:#F2E8D9;font-weight:normal;font-family:Georgia,serif;line-height:0.95;\">Maison<br>Beaute</h1>' +\n'<div style=\"width:44px;height:1px;background:#C9748F;margin:0 0 10px;\"></div>' +\n'<p style=\"margin:0;font-size:10px;color:#5A4A6A;font-family:Arial,sans-serif;\">Berlin - revouri.de</p></td></tr>' +\n'<tr><td style=\"background:#2D1B4E;padding:24px 56px;\"><p style=\"margin:0;font-size:21px;color:#F2E8D9;font-family:Georgia,serif;font-style:italic;line-height:1.35;\">' + subject + '</p></td></tr>' +\n'<tr><td style=\"background:#C9748F;height:3px;font-size:1px;line-height:1px;\">&nbsp;</td></tr>' +\n'<tr><td style=\"background:#FFFFFF;padding:44px 56px 32px;\">' + paragraphs + '</td></tr>' +\nproductSection +\n'<tr><td style=\"background:#FFFFFF;padding:32px 56px 48px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"background:#1A1A2E;\"><a href=\"https://www.revouri.de\" style=\"display:inline-block;padding:16px 42px;font-family:Arial,sans-serif;font-size:10px;font-weight:700;color:#F2E8D9;text-decoration:none;letter-spacing:0.22em;text-transform:uppercase;\">' + cta + '</a></td></tr></table></td></tr>' +\n'<tr><td style=\"padding:0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td width=\"4\" style=\"background:#C9A84C;\">&nbsp;</td><td style=\"background:#F8F5F1;padding:22px 52px;\"><p style=\"margin:0;font-size:11px;color:#9B8FA0;font-family:Arial,sans-serif;line-height:1.75;font-style:italic;\">Every purchase at Maison Beaute extends the life of a luxury product. Thank you for choosing circular beauty.</p></td></tr></table></td></tr>' +\n'<tr><td style=\"background:#1A1A2E;padding:34px 56px 38px;border-radius:0 0 3px 3px;\"><p style=\"margin:0 0 3px;font-size:22px;color:#F2E8D9;font-family:Georgia,serif;\">Maison Beaute</p><p style=\"margin:0 0 22px;font-size:10px;color:#6B6080;font-family:Arial,sans-serif;\">revouri.de - Berlin, Germany</p><p style=\"margin:0;font-size:10px;color:#4A3A5A;font-family:Arial,sans-serif;border-top:1px solid #2D2040;padding-top:16px;\">You received this as part of The Edit. <a href=\"#\" style=\"color:#C9748F;text-decoration:none;\">Unsubscribe</a></p></td></tr>' +\n'</table></td></tr></table></body></html>';\n\n$input.first().json.subject = subject;\n$input.first().json.html = html;\nreturn [$input.first()];"
      },
      "id": "node-code",
      "name": "Format HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "carolinanami@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-gmail",
      "name": "Send Newsletter Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Email": {
      "main": [
        [
          {
            "node": "Send Newsletter Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}